.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
html {
  background-color: #2b2c31 !important;
  overflow-x: hidden; }

body {
  overflow-x: hidden;
  background-color: #2b2c31 !important; }

#root {
  overflow-x: hidden; }

::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.15); }

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 0.1%, rgba(255, 255, 255, 0.25) 3%, rgba(255, 255, 255, 0.25) 97%, rgba(255, 255, 255, 0) 99.5%, rgba(255, 255, 255, 0) 100%); }
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 0.1%, rgba(255, 255, 255, 0.35) 3%, rgba(255, 255, 255, 0.35) 97%, rgba(255, 255, 255, 0) 99.5%, rgba(255, 255, 255, 0) 100%);
    cursor: pointer; }

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.05); }

/*# sourceMappingURL=App.css.map */
